{% assign author = site.data.authors[page.author] %}
{% if author %}
<span itemprop="author" itemscope itemtype="http://schema.org/Person">
  <span itemprop="name">
    by <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
  </span>
</span>
{% endif %}
<p class="post-meta">
  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    Published on: {{ page.date | date: "%b %-d, %Y" }}
  </time>

  {% if page.categories != null %}| Department(s):
    {% assign projectCategories = site.data.categories.allowed-categories %}
    {% for category in page.categories %}
      {% if projectCategories contains category %}
        <a href="{{ "category_" | append: category | append: ".html"}}">
          {{category}}
        </a>
      {% unless forloop.last %},
      {% endunless%}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if page.tags != null %}| Tags:
    {% assign projectTags = site.data.tags.allowed-tags %}
    {% for tag in page.tags %}
      {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag | append: ".html"}}">
          {{tag}}
        </a>
      {% unless forloop.last %},
      {% endunless%}
      {% endif %}
    {% endfor %}
  {% endif %}
