
<div id="userMap">
  <div class="content"><a href="foh-console-power-up-sound.html"><div class="box box1"><span style="font-size: 2em;float:right;">1</span>Power Up</div></a></div>
  <div class="arrow">→</div>
  <div class="content"><a href="qu-32-scene-set-sound.html"><div class="box box2"><span style="font-size: 2em;float:right;">2</span>Establish Scene</div></a></div>
  <div class="arrow">→</div>
  <div class="content"><a href="wireless-mic-setup-sound.html"><div class="box box3"><span style="font-size: 2em;float:right;">3</span>Wireless Mics</div></a></div>
  <div class="arrow">→</div>
  <div class="content"><a href="set-the-mix-sound"><div class="box box4"><span style="font-size: 2em;float:right;">4</span>Live Mix</div></a></div>
  <div class="arrow">→</div>
  <div class="content"><a href="foh-shut-down-sound"><div class="box box5"><span style="font-size: 2em;float:right;">5</span>Shut Down</div></a></div>
  <div class="clearfix"></div>
</div>
