
<div id="userMap">
  <div class="content"><a href="house_lights_on.html"><div class="box box1"><span style="font-size: 2em;float:right;">1</span>House Lights On</div></a></div>
  <div class="arrow">→</div>
  <div class="content"><a href="sound_configuration_checklist.html"><div class="box box2"><span style="font-size: 2em;float:right;">2</span>Audio Setup</div></a></div>
  <div class="arrow">→</div>
  <div class="content"><a href=""><div class="box box3"><span style="font-size: 2em;float:right;">3</span>Draft</div></a></div>
  <div class="arrow">→</div>
  <div class="content"><a href=""><div class="box box4"><span style="font-size: 2em;float:right;">4</span>Draft</div></a></div>
  <div class="arrow">→</div>
  <div class="content"><a href=""><div class="box box5"><span style="font-size: 2em;float:right;">5</span>Draft</div></a></div>
  <div class="clearfix"></div>
</div>
