{% if page.name == "audiovisual.md" %}
{% else %}<h2><a href="audiovisual.html">A/V Teams</a></h2>{% endif %}

<div class="row">
	<div class="col-lg-12">
		<!--<h2 class="page-header">Service List</h2>-->
	</div>
	<div class="col-md-4">
		<div class="media">
      <div class="pull-left">
        <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-microphone fa-stack-1x fa-inverse"></i></span>
      </div>
			<div class="media-body">
				<h3 class="media-heading" markdown="1">[Sound](/sound.html)</h3>
				<p>Front of House (FOH) from start to finish.</p>
			</div>
		</div>
		<div class="media">
      <!--<div class="pull-left">
        <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-music fa-stack-1x fa-inverse"></i></span>
      </div>
			<div class="media-body">
				<h3 class="media-heading">Worship Team</h3>
				<p markdown="1">[Overview](/worship_band), [Keyboard Setup](/keyboard_setup.html)</p>
			</div>-->
		</div>
		<div class="media">
			<!--<div class="pull-left">
				<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-support fa-stack-1x fa-inverse"></i></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Service Three</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
			</div>-->
		</div>
	</div>
	<div class="col-md-4">
		<div class="media">
			<div class="pull-left">
        <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-tv fa-stack-1x fa-inverse"></i></span>
      </div>
			<div class="media-body">
				<h3 class="media-heading" markdown="1">[Media](/media.html)</h3>
				<p>From projection to podcast, images and imagination.</p>
			</div>
		</div>
		<div class="media">
			<!--<div class="pull-left">
				<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-bomb fa-stack-1x fa-inverse"></i></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Service Five</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
			</div>-->
		</div>
		<div class="media">
			<!--<div class="pull-left">
				<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-bank fa-stack-1x fa-inverse"></i></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Service Six</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
			</div>-->
		</div>
	</div>
	<div class="col-md-4">
		<div class="media">
			<div class="pull-left">
        <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-ticket fa-stack-1x fa-inverse"></i></span>
      </div>
			<div class="media-body">
				<h3 class="media-heading" markdown="1">[Stage & Lighting](/lights.html)</h3>
				<p markdown="1">All things stage and lighting.</p>
			</div>
		</div>
		<div class="media">
			<!--<div class="pull-left">
				<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Service Eight</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
			</div>-->
		</div>
		<div class="media">
			<!--<div class="pull-left">
				<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-recycle fa-stack-1x fa-inverse"></i></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Service Nine</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
			</div>-->
		</div>
	</div>
</div>
